<template>
  <div id="wrapper">
    <img id="logo" src="~@/assets/logo.png" alt="electron-vue">
    <main>
      <div class="left-side">
        <span class="title">
          Válassz ki egy fb számlát ->
        </span>
      </div>


      <div class="right-side">
        <div class="doc">
          <button v-if="parsedData.length != 0" class="alt" @click="excelExport()">Hova dobjam?</button>
          <input type="file" @change="getFile" v-else>
          <button class="alt" @click="parsePdf" v-if="parsedData.length == 0">Na lássuk</button>
        </div>
      </div>
    </main>
    <div v-if="errors.length">
      <h3 style="color: red">Korrekció szükséges a következőknél: </h3>
      <p v-for="(er,i) in errors" :key="i">{{er}}</p>
    </div>
  </div>
</template>

<script>
  const pdf = require('electron').remote.require('pdf-parse')
  import json2xlsx from 'json2xlsx-export';

  export default {
    name: 'landing-page',
    data: function() {
      return {
        fs: require('fs'),
        lodash: require('lodash'),
        path: '',
        outpath: '',
        filename: '',
        parsedData: [],
        szamlaszam: '',
        errors: [],
        dataPDF: {}
      }
    },
    methods: {
      parsePdf (link) {
        let dataBuffer = this.fs.readFileSync(this.path)
        pdf(dataBuffer).then((data) => {
          this.dataPDF = data
          let outPut = []
          const P = data.text.split('\n')
          let UseFulRows = []

          if (P[3].includes("Számlaszám: ")) {
            this.szamlaszam = P[3].replace("Számlaszám: ", '')
          }

          for (var index = 0; index < P.length; index++) {
            let SplittedRow = P[index].split(' - ')
            let plusItem = ''
            if (SplittedRow.length > 9) {
              if (SplittedRow == 11) plusItem = SplittedRow.pop()

              SplittedRow = [...SplittedRow, P[index + 1]]
              SplittedRow = [...SplittedRow, P[index + 2].replace(' ', '').replace('Ft', '').replace(' €' ,'').replace(' ', '')]
              SplittedRow = [...SplittedRow, plusItem]

              UseFulRows.push(SplittedRow)
            } else if (SplittedRow.length > 5) {
              let stringform =  P[index]
              this.errors.push(`${stringform}     | ${stringform.length} karakter`)

            }
          }
          this.parsedData = UseFulRows
          return
          // for (var i = 0; i < P.length; i++) {
          //   let row = P[i].split("Megjelenések")
          //   if (row.length === 2) {
          //     let kir = row[0].split(' - ')[1]
          //     let ceg = row[0].split(' - ')[2]
          //     let projekt = row[0].split(' - ')[3]
          //     let uzletag = row[0].split(' - ')[4]
          //     let forint = Number(row[1].replace(' ','').replace('Ft',''))
          //     outPut.push({kir,ceg, projekt, uzletag, forint})
          //   } else {
          //     if (row[0].includes("sz. számla")) {
          //       this.szamlaszam = row[0].replace(". sz. számla", '')
          //     }
          //   }
          //
          // }
          // let uniqprojektek = this.lodash.uniqBy(outPut, (r) => {
          //   return `${r.projekt}${r.ceg}${r.kir}${r.uzletag}`
          // })
          // for (var _i = 0; _i < uniqprojektek.length; _i++) {
          //   let filteredForProjekt = outPut.filter((r) => {
          //     return r.projekt == uniqprojektek[_i].projekt && r.ceg == uniqprojektek[_i].ceg && r.kir == uniqprojektek[_i].kir && r.uzletag == uniqprojektek[_i].uzletag
          //   })
          //   console.log({outPut,filteredForProjekt, uniqprojektek: uniqprojektek[_i]});
          //   this.parsedData.push({
          //     projekt: uniqprojektek[_i].projekt,
          //     kir: uniqprojektek[_i].kir,
          //     uzletag: uniqprojektek[_i].uzletag,
          //     ceg: uniqprojektek[_i].ceg,
          //     sum: this.lodash.sumBy(filteredForProjekt, 'forint')
          //   })
          // }
        })
      },
      excelExport() {
        let rows = []
        let headers = [
          { value: "Terület" },
          { value: "Kampány típusa" },
          { value: "Hirdető brand" },
          { value: "Költségviselő kirendeltség" },
          { value: "Költségviselő cég" },
          { value: "Partnercég neve" },
          { value: "Üzletág" },
          { value: "Pozíció neve" },
          { value: "B2B/B2C" },
          { value: "Kezdő dátum" },
          { value: "Időszak" },
          { value: "Összeg" },
          { value: "Ügynökség hirdetés" },
        ]
        rows.push(headers)
        for (var i = 0; i < this.parsedData.length; i++) {
          let row = [
            {value: this.parsedData[i][0], type: "string"},
            {value: this.parsedData[i][1], type: "string"},
            {value: this.parsedData[i][2], type: "string"},
            {value: this.parsedData[i][3], type: "string"},
            {value: this.parsedData[i][4], type: "string"},
            {value: this.parsedData[i][5], type: "string"},
            {value: this.parsedData[i][6], type: "string"},
            {value: this.parsedData[i][7], type: "string"},
            {value: this.parsedData[i][8], type: "string"},
            {value: this.parsedData[i][9], type: "string"},
            {value: this.parsedData[i][10], type: "string"},
            {value: this.parsedData[i][11], type: "number"},
            {value: this.parsedData[i][12], type: "string"},
          ]
          rows.push(row)
        }
        if (this.szamlaszam != '') {
          rows.push([{value: "Számlaszám", type: "string"},{value: this.szamlaszam, type: "string"}])
        }
        const config = {
          filename: this.filename,
          sheets: [
            {
              name: "Adatok",
              data: rows
            }
          ]
        }
        json2xlsx(config)
        this.path = '',
        this.outpath = ''
        this.parsedData = []
      },
      getFile(e) {
        // console.log(e.target.files[0]);
        this.filename = e.target.files[e.target.files.length-1].name
        this.filename = this.filename.replace('.pdf', '')
        this.path = e.target.files[e.target.files.length-1].path
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }

  #wrapper {
    background:
      radial-gradient(
        ellipse at top left,
        rgba(255, 255, 255, 1) 40%,
        rgba(229, 229, 229, .9) 100%
      );
    height: 100vh;
    padding: 60px 80px;
    width: 100vw;
  }

  #logo {
    height: auto;
    margin-bottom: 20px;
    width: 420px;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  main > div { flex-basis: 50%; }

  .left-side {
    display: flex;
    flex-direction: column;
  }

  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  .doc button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  .doc button.alt {
    color: #42b983;
    background-color: transparent;
  }
</style>
